apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: system
spec:
  template:
    spec:
      containers:
        - name: manager
          imagePullPolicy: IfNotPresent
          args:
            - --metrics-bind-address=:8080
            - --leader-elect
            - --provider=aws,google,inmemory,azure,coredns,endpoint
            - --log-level=debug
