name: CI-E2E

on:
  push:
    branches:
      - main
      - "release-*"
      - "ci_*"
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
    paths-ignore:
      - '**.adoc'
      - '**.md'
      - 'samples/**'
      - 'LICENSE'
  pull_request_target:
    branches:
      - main
      - "release-*"
    paths-ignore:
      - '**.adoc'
      - '**.md'
      - 'samples/**'
      - 'LICENSE'
  workflow_dispatch:
  merge_group:

env:
  TEST_NAMESPACE: e2e-test
  GINKGO_PARALLEL: true

jobs:
  e2e_test_suite:
    name: E2E Test Suite
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha || github.ref }}
      - uses: actions/setup-go@v5
        with:
          go-version: v1.22.x
          cache: false
      - name: Create AWS provider configuration
        run: |
          make local-setup-aws-clean local-setup-aws-generate AWS_ACCESS_KEY_ID=${{ secrets.E2E_AWS_ACCESS_KEY_ID }} AWS_SECRET_ACCESS_KEY=${{ secrets.E2E_AWS_SECRET_ACCESS_KEY }}
      - name: Create GCP provider configuration
        run: |
          make local-setup-gcp-clean local-setup-gcp-generate GCP_GOOGLE_CREDENTIALS='${{ secrets.E2E_GCP_GOOGLE_CREDENTIALS }}' GCP_PROJECT_ID=${{ secrets.E2E_GCP_PROJECT_ID }}
      - name: Create Azure provider configuration
        run: |
          make local-setup-azure-clean local-setup-azure-generate KUADRANT_AZURE_CREDENTIALS='${{ secrets.E2E_AZURE_CREDENTIALS }}'
      - name: Setup environment
        run: |
          make local-setup DEPLOY=true TEST_NAMESPACE=${{ env.TEST_NAMESPACE }}
          kubectl -n ${{ env.TEST_NAMESPACE }} get secret/dns-provider-credentials-aws
          kubectl -n ${{ env.TEST_NAMESPACE }} get secret/dns-provider-credentials-gcp
          kubectl -n ${{ env.TEST_NAMESPACE }} get secret/dns-provider-credentials-azure
      - name: Run suite AWS
        run: |
          export TEST_DNS_PROVIDER_SECRET_NAME=dns-provider-credentials-aws
          export TEST_DNS_ZONE_DOMAIN_NAME=e2e.hcpapps.net
          export TEST_DNS_NAMESPACE=${{ env.TEST_NAMESPACE }}
          make test-e2e
      - name: Run suite GCP
        run: |
          export TEST_DNS_PROVIDER_SECRET_NAME=dns-provider-credentials-gcp
          export TEST_DNS_ZONE_DOMAIN_NAME=e2e.google.hcpapps.net
          export TEST_DNS_NAMESPACES=${{ env.TEST_NAMESPACE }}
          make test-e2e
      - if: github.event_name == 'pull_request_target'
        run:
          echo "AZURE_GINKGO_FLAGS='-v -p --label-filter="!provider_errors && !multi_record && !health_checks"'" >> $GITHUB_ENV
      - if: github.event_name != 'pull_request_target'
        run:
          echo "AZURE_GINKGO_FLAGS='-v -p'" >> $GITHUB_ENV
      - name: Run suite Azure
        run: |
          export TEST_DNS_PROVIDER_SECRET_NAME=dns-provider-credentials-azure
          export TEST_DNS_ZONE_DOMAIN_NAME=e2e.azure.hcpapps.net
          export TEST_DNS_NAMESPACES=${{ env.TEST_NAMESPACE }}
          export GINKGO_FLAGS=${{ env.AZURE_GINKGO_FLAGS }}
          make test-e2e
      - name: Dump Controller logs
        if: ${{ failure() }}
        run: |
          kubectl get deployments -A
          kubectl logs --all-containers --ignore-errors deployments/dns-operator-controller-manager -n dns-operator-system
