name: Upload CLI binary
on:
  release:
    types:
      - created
  workflow_dispatch:
    inputs:
      operatorTag:
        description: Release tag
        default: v0.0.0
        type: string

permissions:
  contents: write
  packages: write

jobs:
  release-matrix:
    name: Upload dns-operator CLI Binary
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # build and publish in parallel: linux/amd64, linux/arm64, darwin/amd64, darwin/arm64
        goos: [linux, darwin]
        goarch: [amd64, arm64]
    steps:
      - uses: actions/checkout@v4
      - uses: wangyoucao577/go-release-action@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          goos: ${{ matrix.goos }}
          goarch: ${{ matrix.goarch }}
          project_path: ./cmd/plugin/
          binary_name: kubectl-kuadrant_dns
          release_tag: ${{ github.event.release.tag_name || inputs.operatorTag }}
          ldflags: -X "main.gitSHA=${{ github.sha }}" -X "main.version=${{ github.ref_name }}"